.table-body {
  width: 975px;
}

.table-line {
  padding: 15px 15px;

  border-bottom: 1px solid #E0E0E0;

  display: flex;
  justify-content: space-between;

  font-size: 15px;
  font-weight: normal;
}

.line-item {
  width: 150px;

  text-align: center;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 17px;
}